.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
 
 text-align: center;
}
.heading{
  background-color:#7f48d5;
  color: white;
  margin-top: 0px;
}
marquee{
  background-color:black;
  padding: 5px;
  margin-top: 1px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.footer{
  background-color:#7f48d5;
  padding: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}